.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100vh;
    .ant-flex {
        padding: 1em;
        height: 70vh;
        width: 100%;        
        .ant-layout-sider {            
            background-color: rgb(204, 214, 214);
            margin-right: 1em;
            border-radius: 10px;
            text-align: center;
            h3 {
                text-align: center;
            }
        }
        .ant-layout-content {
            background-color: red;
            border-radius: 10px;
        }     
    }  
}